$primary1: #047bbc;
$primary2: #1fd2e8;
$secondary1: #F94F1A;
$secondary2: #FFC000;

$black: #000000;
$grey: #1d1d1d;
$grey-1: #f2f2f2;
$grey-2: #e5e5e5;
$white: #ffffff;

$info: #05b4d8;
$success: #35cd3a;
$warning: #ffa534;
$danger: #f3545d;

$font: "Poppins", sans-serif;

$tag-added: #9EBF64;
$tag-changed: #A164BF;
$tag-deprecated: #B9C447;
$tag-fixed: #647DBF;
$tag-removed: #BF6464;
$tag-security: #BF64B4;