.wpk__title_page {
  background: $primary1;
  background: linear-gradient(90deg, $primary1 0%, $primary2 100%);
  margin-bottom: 30px;
  min-height: 200px;
  display: flex;
  align-items: center;

  h1 {
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    color: $white;
    margin: 0 0 0 50px;
  }
}
